<!--&lt;!&ndash; Modal &ndash;&gt;-->
<!--<th:block th:fragment="cart">-->
<!--    <div class="modal fade" id="exampleModalCart" tabindex="-1" role="dialog"-->
<!--         aria-labelledby="exampleModalLabel"-->
<!--         aria-hidden="true">-->
<!--        <div class="modal-dialog modal-sm" role="document">-->
<!--            <div class="modal-content">-->
<!--                <div class="modal-header">-->
<!--                    <h3 class="modal-title">Giỏ hàng</h3>-->
<!--                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                        <span aria-hidden="true">&times;</span>-->
<!--                    </button>-->
<!--                </div>-->
<!--                <div class="modal-body">-->
<!--                    <div class="row row-sparse">-->
<!--                        <div class="col-md-12">-->
<!--                            <table class="table table-striped">-->
<!--                                <thead>-->
<!--                                <tr>-->
<!--                                    <th>Sản phẩm</th>-->
<!--                                    <th>Số lượng</th>-->
<!--                                    <th>Giá</th>-->
<!--                                    <th>Tổng</th>-->
<!--                                </tr>-->
<!--                                </thead>-->
<!--                                <tbody id="cart-items">-->
<!--                                &lt;!&ndash; cart items will be rendered here &ndash;&gt;-->
<!--                                </tbody>-->
<!--                            </table>-->
<!--                            <div class="cart-footer">-->
<!--                                <p>Tổng: <span id="cart-total">0 VNĐ</span></p>-->
<!--                                <button class="btn btn-primary btn-md">Thanh toán</button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</th:block>-->
